a {
  text-decoration: none;
  color: black;
}

.login {
  cursor: pointer;
  background-color: white;
  color: #19a974;
}

.login:hover {
  background-color: #19a974;
  color: white;
}

.register {
  cursor: pointer;
  background-color: #19a974;
  color: white;
}

.register:hover {
  background-color: white;
  color: #19a974;
}

.noUnderline {
  text-decoration: none;
}

.size-m {
  width: 120px;
  height: 40px;
}
